@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0b0b0b;
  --bg-secondary: #141414;
  --bg-card: #1c1c1c;

  --text-primary: #ffffff;
  --text-secondary: #b5b5b5;

  --accent: #e5e5e5; /* buttons, borders */
  --accent-hover: #ffffff;

  --border-color: #2a2a2a;
}
/* globals.css */
* {
  backface-visibility: hidden;
}

